:root {
    --brand: #5865f2;
    --brand-gradient: linear-gradient(90deg,#8ea1e1,#7289da);
    --greyple: #99aab5;
    --dark-not-black: #2c2f33;
    --focus-border: #00b0f4;
    --status-green: #43b581;
    --text-link: #00b0f4;
    --off-white: #f6f6f6;
    --white: #fff;
    --not-quite-black: #23272a;
    --not-quite-black-rgb: 35,39,42;
    --black: #000;
    --ekko-red: #de2761;
    --page-max-width: 1260px;
    --num-grid-columns: 4;
    --page-gutter: 24px;
    --section-spacing: 56px;
}

:root {
    --font-primary: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-display: "Ginto Normal","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-headline: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-monospace: "Menlo","Consolas","Monaco",monospace;
    --font-glitch: "ArchivoBlack","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-cursive: "Reenie Beanie","Comic Sans MS",cursive,sans-serif;
}
body {
    text-rendering: optimizeLegibility;
}

.appButton-2_tWQ1 {
    text-align: end;
    -webkit-box-direction: reverse;
}

.buttonSmall-1FIG7u {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    padding-bottom: 30px;
}

.button-1I7cbj {
    white-space: nowrap;
}

.buttonWhite-1M-wED {
    background-color: #fff;
    background-color: var(--white);
    color: #23272a;
    color: var(--not-quite-black);
}

.button-ZGMevK {
    border-radius: 50%;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: background-color,color,-webkit-box-shadow;
    transition-property: background-color,color,-webkit-box-shadow;
    transition-property: background-color,color,box-shadow;
    transition-property: background-color,color,box-shadow,-webkit-box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.buttonSmall-1FIG7u {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
}